<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-4">
            <h3 class="m-0">Filter: </h3>
            <button class="btn btn-primary btn-sm ml-2 mr-2" (click)="getProducts()">All</button>
            <button class="btn btn-primary btn-sm ml-2 mr-2" (click)="getMovies()">Movies</button>
            <button class="btn btn-primary btn-sm ml-2 mr-2" (click)="getBooks()">Books</button>
        </div>
        <div class="col-lg-3 col-md-6 col-12" *ngFor="let item of Products | paginate: { id: 'foo',
        itemsPerPage: pageSize,
        currentPage: p,
        totalItems: total } ; let i = index ">
            <div class="cards">
                <div class="cards-data" (click)="goToDetails(item.id)">
                    <div class="imagediv">
                        <img [src]="item.Image" [alt]="item.Name">
                    </div>
                    <h3 class="text-center">{{item.Name}}</h3>
                    <ng-container *ngIf="item.Category == 'Movie'; else author">
                        <h4 class="text-center">by: {{item.Director}}</h4>
                    </ng-container>
                    <ng-template #author>
                        <h4 class="text-center">by: {{item.Writer}}</h4>
                    </ng-template>
                    <h4 class="text-center genre">{{item.Genre}}</h4>
                    <div class="mt-2 d-flex justify-content-around">
                        <span>{{item.Amount | currency:'INR' }}</span>
                        <span class="rating" *ngIf="item.Category == 'Movie'; else Book">IMDB:
                            {{item.ImdbRating | number: '1.1-2'}} <i class="fa fa-star" aria-hidden="true"></i></span>
                        <ng-template #Book><span class="rating">GoodReads:
                                {{item.GoodReadsRatings | number: '1.1-2'}} <i class="fa fa-star"
                                    aria-hidden="true"></i></span>
                        </ng-template>
                    </div>
                </div>
                <div class="cards-btn row mt-3">
                    <div class="col-12 d-flex justify-content-between">
                        <ng-container *ngIf="item.Quantity > 0; else soldout">
                            <button class="btn btn-success col-8 btn-block" (click)="addToCart(i, item.id)">Add to cart
                                <i class="fa fa-shopping-cart"></i></button>
                        </ng-container>
                        <ng-template #soldout>
                            <button class="btn btn-dark col-8 btn-block" style="cursor: default;" disabled>Out of
                                stock</button>
                        </ng-template>
                        <button class="btn btn-outline-danger" (click)="addToFav(item.id)"><i
                                class="fa fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-3">
            <pagination-controls id="foo" maxSize="5" directionLinks="true" (pageChange)="p = $event">
            </pagination-controls>
        </div>
    </div>
</section>